<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物流管理</title>
</head>
<body style="padding: 0;margin: 0;">



<div class="jianjin" style="
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
    margin: 0;
    padding: 0;
    top: 20px;
    background: -webkit-linear-gradient(top,white,#00FFFF,#00C0F7);
    ">

    <a style="text-decoration: none;color: blue" class="return" href="/eight/index">返回</a>
    <form th:action="@{insertLogistics}" method="post">
        添加用户id：<input name="userId" type="text">
        添加订单id：<input name="orderId" type="text">
        添加消息：<input name="message" type="text">
        <input th:type="submit" value="确定">
    </form>

</div>
<script src="/static/js/consume/jquery-1.7.2.js"></script>
<script>
    $(document).ready(function () {
        $(".return").mouseover(function () {
            $(this).css("color", "red");
        })
        $(".return").mouseout(function () {
            $(this).css("color", "blue");
        })
    })
</script>
</body>