.wrapper{
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;

}
.all2{
    width: 800px;
    height: 600px;
    background-image: url("/static/images/else/tuihuo3.jpg");
    opacity:0.8;
    z-index:1;
    background-size:800px 600px;
    position: absolute;
}
.all{
    width: 800px;
    height: 600px;
    left: 170px;
    position:absolute;
}
.ce{
    list-style: none;
    position: absolute;
    top: -16px;
    left: -30px;
}
.port{
    width: 500px;
    height: 1000px;
    position: absolute;
    top: 120px;
}
.product{
    position: absolute;
    width: 400px;
    height: 100px;
    top: 50px;
    /* border: 1px solid #adadad; */
}
.desc{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 100px;
    top:0px
}
.ding{
    width: 800px;
    height: 32px;
    background-color: #EEEEEE;
    position: absolute;

}
a{
    text-decoration: none;
}
.shu1{
    left: 100px;
    top: 50px;
    border-radius:5px;
    border: 1px solid #CCCCCC;
    width: 297px;
    height: auto;
    position: absolute;
}
.shu2{
    left: 100px;
    top: 100px;
    border-radius:5px;
    border: 1px solid #CCCCCC;
    width: 305px;
    height: 20px;
    position: absolute;
    color:gray;
}
.shu3{
    left: 100px;
    top: 150px;
    border-radius:5px;
    border: 1px solid #CCCCCC;
    width: 305px;
    height: 20px;
    position: absolute;
    color:gray;
}
.shu4{
    left: 100px;
    top: 200px;
    border-radius:5px;
    border: 1px solid #CCCCCC;
    width: 297px;
    height: 20px;
    position: absolute;
}
.shu5{
    left: 100px;
    top: 250px;
    border-radius:5px;
    border: 1px solid #CCCCCC;
    width: 297px;
    height: 80px;
    position: absolute;
}
.shu6{
    left: 100px;
    top: 380px;
    border-radius:5px;
    border: 1px solid #CCCCCC;
    width: 305px;
    height: 20px;
    position: absolute;
}
.symbol{
    left: 98px;
    top: 280px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute
}
.tu1{
    width: 50px;
    height: 30px;
    position: absolute;
    margin-left: 25px;
    margin-top: 40px;
}
.p0{
    top: 33px;
    position: absolute;
}
.p1{
    top: 83px;
    position: absolute;
}
.p2{
    top: 133px;
    position: absolute;
}
.p3{
    top: 183px;
    position: absolute;
}
.p4{
    top: 258px;
    position: absolute;
}
.p5{
    top: 283px;
    position: absolute;
}
.tijiao{
    width: 105px;
    height: 23px;
    position: absolute;
    left: 301px;
    top: 360px;
    background:linear-gradient(to right,turquoise 0%,slateblue 100%);
    text-align: center;
    border: 0px;
    border-radius: 5px;
}