<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单明细管理</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="cartId" th:value="${obj?.cartId}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">购物车ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="cartId" th:value="${obj?.cartId}" lay-verify="required" placeholder="请输入购物车ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="userId" th:value="${obj?.userId}" lay-verify="required" placeholder="请输入用户ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="productId" th:value="${obj?.productId}" lay-verify="required" placeholder="请输入商品ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">加入购物车商品数量</label>
                        <div class="layui-input-block">
                            <input type="text" name="productTotalAmount" th:value="${obj?.productTotalAmount}" lay-verify="required" placeholder="请输入加入购物车商品数量" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品价格</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" th:value="${obj?.price}" lay-verify="required" placeholder="请输入商品价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">加入购物车时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="addTime" th:value="${obj?.addTime}" lay-verify="required" placeholder="请输入加入购物车时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="lay-front-submit" id="lay-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:src="@{/static/js/manage/order/orderCart.js}"></script>
</body>
</html>
















