<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单明细管理</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/manage/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="cartId" th:value="${obj?.returnId}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货订单ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="orderId" th:value="${obj?.orderId}" lay-verify="required" placeholder="请输入退货订单ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="returnType" th:value="${obj?.returnType}" lay-verify="required" placeholder="请输入退货类型" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货原因</label>
                        <div class="layui-input-block">
                            <input type="text" name="returnReason" th:value="${obj?.returnReason}" lay-verify="required" placeholder="请输入退货原因" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货价格</label>
                        <div class="layui-input-block">
                            <input type="text" name="returnPrice" th:value="${obj?.returnPrice}" lay-verify="required" placeholder="请输入退货价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="returnDesc" th:value="${obj?.returnDesc}" lay-verify="required" placeholder="请输入退货描述" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否同意退货</label>
                        <div class="layui-input-block">
                            <input type="text" name="returnState" th:value="${obj?.returnState}" lay-verify="required" placeholder="请输入是否同意退货" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="lay-front-submit" id="lay-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:src="@{/static/js/manage/order/orderReturn.js}"></script>
</body>
</html>
















