<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.mapper.consume.CategoryMapper">

    <resultMap id="queryProductCategory" type="com.eight.bean.ProductCategory" autoMapping="true">
        <id property="categoryId" column="category_id"/>
        <id property="categoryName" column="category_name"/>
        <id property="categoryCode" column="category_code"/>
        <id property="parentId" column="parent_id"/>
        <id property="categoryLevel" column="category_level"/>
        <id property="categoryStatus" column="category_status"/>
        <id property="modifiedTime" column="modified_time"/>
    </resultMap>

    <select id="queryCategoryNameBycategoryId" resultMap="queryProductCategory">
        select * from product_category
        where parent_id=#{categoryId}
    </select>

</mapper>