<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.mapper.consume.order.OrderMapper">
    <delete id="deleteOrder" parameterType="string">
		DELETE FROM order_master WHERE order_id =#{value}
    </delete>

    <resultMap id="orderMap" type="com.eight.bean.OrderMaster" autoMapping="true">
        <id property="orderId" column="order_id"/>
    </resultMap>
</mapper>