<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.mapper.consume.ViewMapper">
    <resultMap id="queryViewInfo" type="com.eight.bean.ProductInfo" autoMapping="true">
        <id property="productId" column="product_id"/>
        <association property="productPicInfo" javaType="com.eight.bean.ProductPicInfo" autoMapping="true">
            <id property="productPicId" column="product_pic_id"/>
        </association>
        <association property="productWarehouse" javaType="com.eight.bean.ProductWarehouse" autoMapping="true">
            <id property="pwId" column="pw_id"/>
        </association>
    </resultMap>
    <select id="queryViewInfoByoneCategoryId" resultMap="queryViewInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw, product_pic_info ppi,product_category pc,product_info pi
        where ppi.product_id = pi.product_id and
        pc.category_id = pi.one_category_id and
        pw.product_id = pi.product_id and
        pc.category_id = #{oneCategoryId}
    </select>
    <select id="queryViewInfoBytwoCategoryId" resultMap="queryViewInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw, product_pic_info ppi,product_category pc,product_info pi
        where ppi.product_id = pi.product_id and
        pc.category_id = pi.two_category_id and
        pw.product_id = pi.product_id and
        pc.category_id = #{twoCategoryId}
    </select>
    <select id="queryProductInfoWithlimit" resultMap="queryViewInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw, product_pic_info ppi,product_category pc,product_info pi
        where ppi.product_id = pi.product_id and
        pc.category_id = pi.one_category_id and
        pw.product_id = pi.product_id and
        pc.category_id = #{oneCategoryId}
        order by pi.${sortCon}
        limit #{m},${pageSize}
    </select>
    <select id="queryProductInfoWithlimitWithCondition" resultMap="queryViewInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw, product_pic_info ppi,product_category pc,product_info pi,${detailName} de
        where ppi.product_id = pi.product_id and
        pc.category_id = pi.one_category_id and
        pw.product_id = pi.product_id and
        de.product_core=pi.product_core and
        pc.category_id = #{oneCategoryId} and ${condition}
        order by pi.${sortCon}
        limit #{m},${pageSize}
    </select>
    <select id="queryCountFromProductInfoWithlimit"  resultType="java.lang.Integer">
        select count(*) from product_info
        where one_category_id = #{oneCategoryId}
        order by #{sortCon}
        limit ${m},${pageSize};
    </select>
    <select id="queryCountFromProductInfoWithCondition" resultType="java.lang.Integer">
        select count(*) from product_warehouse pw, product_pic_info ppi,product_category pc,product_info pi,${detailName} de
        where ppi.product_id = pi.product_id and
        pc.category_id = pi.one_category_id and
        pw.product_id = pi.product_id and
        de.product_core=pi.product_core and ${condition}
        order by #{sortCon}
        limit ${m},${pageSize}
    </select>
</mapper>