<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>收藏夹</title>
    <link rel="stylesheet" href="css/style3.css">
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <ul class="title">
                <li><a href="#">首页</a></li>
                <li><a href="#">我的商城</a></li>
                <li><a href="#">返回购物车</a></li>
                <li><a href="#">查看物流</a></li>
            </ul>
        </div>
        <div class="research">
            <form action="">
                <input type="text" style="outline:none;width: 68%;height: 28px;font-size: 16px;" placeholder="请输入您要搜索的商品">
                <input type="submit" value="搜索" style="width: 30%;height:32px;font-size: 16px;background-color: #FF0036;color: white;margin-left: -5px;cursor: pointer;">
            </form>
        </div>
        <div class="pro">
            <div class="all" style="color: #FF4400;font-size: 20px;font-weight: bold">
                全部商品<span style="color: #FF4400;font-size: 20px;font-weight: bold;">3</span>
            </div>
                <div>
                <span>
                <img style="margin-top:30px" src="../../../../../../../../Desktop/Cart/img/book008.jpg" alt="图片无法访问">
                    <div style="margin-left: 25px">
                        <div>
                            <input type="checkbox" name="1"/>
                            <a href="#" style="color: black">局外人</a>
                        </div>
                    </div>
                    <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥18.00
                    </span>
                </span> 
                </div>   
                <div>
                    <span>
                    <img style="margin-top:30px" src="../../../../../../../../Desktop/Cart/img/book008.jpg" alt="图片无法访问">
                        <div style="flex: 25px;">
                            <div>
                                <input type="checkbox" name="1"/>
                                <a href="#" style="color: black">局外人</a>
                            </div>
                        </div>
                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥18.00
                        </span>
                    </span> 
                </div>  
                <div>
                    <span>
                    <img style="margin-top:30px" src="../../../../../../../../Desktop/Cart/img/book008.jpg" alt="图片无法访问">
                        <div style="flex: 25px;">
                            <div>
                                <input type="checkbox" name="1"/>
                                <a href="#" style="color: black">局外人</a>
                            </div>
                        </div>
                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥18.00
                        </span>
                    </span> 
                </div> 
                <div style="background-color:#E5E5E5;height: 50px;margin-top: 25px;">
                    <form action="">
                        <span><input type="checkbox" style="margin-top: 10px"/><span style="cursor: pointer;">&nbsp;&nbsp;全选</span</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="color:black">删除</a></span>
                        
                    </form>
                </div>
        </div>
</div>>
        </html>