<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>商品</title>
        <link rel="stylesheet" href="css/style1.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="top">
                <ul class="title">
                    <li><a href="#">首页</a></li>
                    <li style="font-size: 15px;">八八商城欢迎您！</li>
                    <li><a href="#">请登录</a></li>
                    <li><a href="#">免费注册</a></li>
                    <li><a href="#">订单</a></li>
                    <li><a href="#">购物车</a></li>
                </ul>
            </div>
            <div class="research">
                <form action="">
                    <input type="text" style="outline:none;width: 70%;height: 28px;font-size: 16px;" placeholder="请输入您要搜索的商品">
                    <input type="submit" value="搜索" style="width: 30%;height:32px;font-size: 16px;background-color: #FF0036;color: white;margin-left: -5px;cursor: pointer;">
                </form>
            </div>
            <div class="prod-card">
                <div class="img">
                    <img src="../../../../../../../../Desktop/Cart/img/book008.jpg" alt="图片无法访问">
                </div>
                <div class="prod-info">
                    <h2 style="padding-bottom: 10px;">局外人</h2>
                    <div class="desc" style="width: 400px;">荒诞主义哲学大师加缪的成名作《局外人》及代表作《鼠疫》完整收录。 拯救心灵的读本：世界虽然一片荒谬，但我们还是要奋起抗争。 本书收录了加缪的《局外人》与《鼠疫》两部作品。 《局外人》让加缪一举成名，而《鼠疫》则让加缪获得1957年的诺贝尔文学奖。这两部作品也是加缪的代表作，阐释了他关于 荒谬 的哲学思考。 从《局外人》到《鼠疫》，书中的主人公始终以抗争的姿态与荒谬的世界做斗争，堪称在这个时代里 拯救心灵的读本。</div>
                    <div class="price" style="margin-top: 10px;"><span style="font-size: 25px;">￥</span>18.00</div>
                    <div class="count" title="5元">优惠券</div>
                    <div class="yunfei">运费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广西南宁&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;
                        <select>
                                <option selected="selected">桂林</option>
                                <option>河池</option>
                                <option>百色</option>
                                <option>柳州</option>
                                <option>来宾</option>
                                <option>防城港</option>
                                <option>钦州</option>
                                <option>北海</option>
                                <option>玉林</option>
                                <option>梧州</option>
                                <option>崇左</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;快递：0.00
                    </div>
                    <div class="sale">
                        月销量
                        <span style="color: #EC4846;font-weight: bold;">3000+</span>
                        &nbsp;&nbsp;&nbsp;累计评价
                        <spa><a style="color: #EC4846;font-weight: bold;" href="">3000</a></span>
                        &nbsp;&nbsp;&nbsp;库存量
                        <spa><a style="color: #EC4846;font-weight: bold;" href="">3000</a></span>件
                        &nbsp;&nbsp;&nbsp;返回积分
                        <span><a style="color: green;font-weight: bold;" href="">8</a></span>起
                    </div>
                        <a class="buybtn" href="#">立即购买</a>
                        <a class="addbtn" href="#">加入购物车</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>