/*弹窗提示*/
.dialog{
    position: fixed;
    height: 64px;
    border: 1px solid #D3D4D3;
    box-shadow: none;
    top: 367px;
    left: 9999px;
    z-index: 99999;
    transform: rotate(-90deg);
    background: #fff;
}
.dialog-content{
    padding: 20px 20px 20px 55px;
    text-align: left;
    line-height: 24px;
    overflow: hidden;
    font-size: 14px;
}
.tipIcon{
    width: 30px;
    height: 30px;
    background: url("../images/login/tipStatus.png") no-repeat;
    background-size: 144px 67px;
    display: inline-block;
    vertical-align: center;
    position: absolute;
    top: 18px;
    left: 15px;

}
