/*页脚1开始*/
.footer-site {
    width: 100%;
    background-color: #fff;
    height: 330px;
}

.footer-service {
    width: 100%;
    height: 80px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.footer-service li {
    width: 19.8%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    float: left;
    border-left: 1px solid #e0e0e0;
}

.footer-service li:first-child {
    border: 0;
}

.footer-service a {
    color: #616161;
    transition: color .4s;
}

.footer-service span {
    width: 24px;
    height: 24.4px;
    margin-right: 1px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -2px;
}

.footer-service a:hover {
    color: #008cff;
}

.footer-links {
    width: 100%;
    height: 250px;
    padding: 40px 0;
    box-sizing: border-box;
}

.footer-links > dl {
    width: 160px;
    text-align: left;
    float: left;
}

.footer-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    color: #424242;
}

.footer-links dd {
    margin: 10px 0 0;
    font-size: 12px;
    color: #333;
}

.footer-links > dl > dd > a {
    color: #757575;
}

.footer-links dd:hover > a {
    color: #008cff;
}

.footer-contact {
    width: 251px;
    float: right;
    border-left: 1px solid #e0e0e0;
    color: #616161;
}

.phonenum {
    font-size: 22px;
    line-height: 1;
    color: #008cff;
    margin-bottom: 5px;
}

.phonenum + p {
    margin-bottom: 5px;
    font-size: 12px;
    color: #616161;
}

.art-ser {
    display: inline-block;
    width: 118px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    border: 1px solid #008cff;
    color: #008cff;
    transition: all .4s;
}

.art-ser:hover {
    background-color: #008cff;
    color: #fff;
}

.follow {
    font-size: 12px;
    margin-top: 10px;
    color: #616161;
    position: relative;
}

.follow > a {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: -3px;
    margin-left: 6px;
    color: #757575;
    vertical-align: middle;
}

.wb {
    background: url("../images/wb.png") no-repeat;
    background-size: cover;
}

.wx {
    background: url("../images/wx.png") no-repeat;
    background-size: cover;
}

.follow > img {
    width: 126px;
    height: 126px;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}

.wb:hover {
    background-image: url("../images/wb@2x.png");
}

.wx:hover {
    background-image: url("../images/wx@2x.png");
}

.wx:hover + img {
    display: block;
}

/*页脚1结束*/

/*页脚2开始*/
.footer-info {
    width: 100%;
    height: 263px;
    padding: 30px 0;
    box-sizing: border-box;
    background-color: #fafafa;
    font-size: 12px;
}

.footer-info > .wrapper {
    position: relative;
}

.footer-logo {
    width: 56px;
    height: 56px;
    margin-right: 10px;
    background: url("../images/logo-mi2.png") no-repeat;
    background-size: 56px;
    position: absolute;
    top: 0;
    left: 0;
}

.info-text {
    color: #b0b0b0;
    padding-left: 67px;
    text-align: left;
}

.site {
    line-height: 18px;
}

.site > a {
    color: #757575;
    margin-right: 3px;
}

.site > span {
    font-size: 12px;
    color: #b0b0b0;
}

.copy > a {
    color: #b0b0b0;
    line-height: 18px;
}

.site > a:hover, .copy > a:hover {
    color: #008cff;
}

.info-img {
    height: 28px;
    margin: 4px 0 15px;
}

.info-img > a {
    width: auto;
    height: 28px;
}

.info-img img {
    width: 83px;
}

/*页脚2结束*/

/*侧边栏开始*/
.tool-bar {
    position: fixed;
    bottom: 70px;
    right: 0;
    z-index: 450;
}

.icon {
    width: 82px;
    height: 90px;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    position: relative;
}

.icon > a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 8px;
    padding-top: 18px;
    cursor: default;
}

.icon > a > span {
    width: 30px;
    height: 30px;
    color: #999999;
    font-size: 28px;
    transition: all .2s;
}

.icon > span {
    color: #757575;
    font-size: 14px;
    transition: all .2s;
}

.icon1 > a > span {
    font-size: 32px;
}

.icon1 > a {

}

.icon:hover > span, .icon:hover > a > span {
    color: #008cff;
}

.icon-code {
    position: absolute;
    top: 0;
    right: 97px;
    width: 130px;
    height: 192px;
    padding: 14px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .3s;
    visibility: hidden;
}

.icon-code > img {
    width: 100px;
    height: 100px;
    margin-top: 4px;;
}

.icon-code > span {
    display: block;
    width: 82px;
    margin: 14px auto 0;
    color: #757575;
    font-size: 14px;
}

.icon6 {
    margin-top: 14px;
    cursor: pointer;
}

.icon:hover > .icon-code {
    opacity: 1;
    visibility: visible;
}

.author {
    position: absolute;
    top: 50%;
    right: 50px;
    font-size: 24px;
}

/*侧边栏结束*/