/*导航栏开始*/
.nav {
    width: 100%;
    height: 81.94px;
    margin: 0 auto;
    position: absolute;
    z-index: 100;

}

.nav-big-logo > img {
    width: 60px;
    height: 24px;
    padding: 28px 0;
    margin: 0 40px 0 55px;
    float: left;
}

.nav-item {
    list-style-type: none;
    padding: 31px 25px 30px;
    font-size: 16px;
    float: left;
}

.nav-item > a {
    color: #fff;
}

.nav-item > a:hover {
    color: #008cff;
}

.nav-search-form {
    position: relative;
    float: right;
    margin: 26px 5px 0 10px;
    width: 170px;
    height: 30px;
    line-height: 29px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #999;
    box-sizing: border-box;
}

.nav-search-form input {
    display: block;
    border: none;
    padding: 0;
    outline: 0;
    width: 127px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
    transition: width .5s;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    background: transparent;
    box-sizing: content-box;
    outline-offset: 0;
}

.header-user-head {
    float: right;
    padding: 32px 0 0 8px;
    text-align: right;
    font-size: 12px;
    position: relative;
    z-index: 1050;
    cursor: pointer;
}

.login-head {
    display: block;
    font-size: 26px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: 10px;
    color: #fff;
    position: relative;
}

.head-portrait {
    width: 36px;
    height: 36px;
    margin-top: -12px;
    margin-left: -5px;
    margin-right: 10px;
    color: #fff;
    position: relative;
    display: none;
}

.head-portrait > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.user-operator {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 98px;
    background-color: #fff;
    top: 64px;
    left: 40%;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 0;
    margin-left: -48px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    display: none;
}

.user-operator li {
    font-size: 12px;
    display: block;
    margin: 15px auto;
}

.user-operator li:first-child {
    margin-top: 0;
}

.user-operator li:last-child {
    margin-bottom: 0;
}

.user-operator li > a {
    color: #515151;
    text-decoration: none;
}

.user-operator li:hover > a {
    color: #008cff;
}

.user-operator:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff;
    left: 40px;
    top: -15px;
    position: absolute;
}

.header-user-head:hover > .user-operator {
    display: block;
}

.header-user-cart {
    position: relative;
    float: right;
    margin: 27px 0 0 8px;
    cursor: pointer;
}

.header-user-cart > span {
    font-size: 26px;
    color: #fff;
}

.header-user-cart > em {
    position: absolute;
    top: -5px;
    right: -6px;
    height: 15px;
    border-radius: 50%;
    background: #c00;
    color: #fff;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    padding: 0 4px;
    text-indent: 0;
    font-style: normal;
}

.nav-header-sub-wrap {
    width: 100%;
    text-align: center;
}

.nav-header-sub-wrap a {
    color: #333333;
}

.nav-header-wrap {
    width: 1240px;
    margin: 0 auto;
}

.nav-header-sub {
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 100;
    overflow: hidden;

}

.nav-header-sub img {
    width: 120px;
    height: 120px;
}

.nav-header-sub > ul {
    padding: 5px 0 20px;

}

.nav-header-sub li {
    width: 142px;
    height: 140px;
    color: #333;
    float: left;
    padding: 5px 5px 20px;
    font-size: 12px;
    box-sizing: border-box;
}

.nav-header-sub p {
    margin: 5px 0;
}

/*导航栏结束*/
