.main {
    margin-bottom: 12px;
}

/*小米秒杀开始*/
.plain-box {
    margin-bottom: 22px;
    height: 398px;
}

.title {
    margin-top: 5px;
    height: 58px;
    line-height: 58px;
    font-weight: 200;
    font-size: 22px;
    color: #333;
    text-align: left;
}

.plain > div {
    float: left;
}

.plain-left {
    height: 300px;
    padding-top: 39px;
    border-top: 1px solid #e53953;
    background-color: #f1eded;
    width: 234px;
}

.round {
    font-size: 20px;
    color: #ef3a3b;
    padding-top: 20px;
}

.plain-left > img {
    margin: 25px auto;
}

.desc {
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.time {
    width: 168px;
    height: 46px;
    margin: 28px auto 0;
}

.time > span {
    width: 46px;
    height: 46px;
    background-color: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}

.time > i {
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal;
}

.plain-right {
    width: 978px;
    height: 340px;
    margin-left: 14px;
    position: relative;
    overflow: hidden;
}

@keyframes plain-item {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: -150%;
    }
    50% {
        top: 0;
        left: -288%;
    }
    75% {
        top: 0;
        left: -150%;
    }
    100% {
        top: 0;
        left: 0;
    }
}

.plain-right > ul {
    white-space: nowrap;
    position: absolute;
    animation: plain-item 20s linear infinite;
}

.plain-right > ul:hover {
    animation-play-state: paused;
}

.plain-right li {
    width: 234px;
    height: 340px;
    background-color: #fff;
    margin-right: 14px;
    display: inline-block;
}

.plain-right li:last-child {
    margin-right: 0;
}

.plain-right a {
    display: block;
    height: 300px;
    margin-top: 39px;
    color: #757575;
}

.img {
    width: 160px;
    height: 160px;
    margin: 0 auto 22px;
}

.name {
    margin: 0 20px 5px;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.desc {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0 20px 12px;
    color: #b0b0b0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price {
    color: #ff6700;
    font-size: 14px;
}

.del {
    color: #b0b0b0;
    font-size: 14px;
}

.plain-right li:nth-child(1), .plain-right li:nth-child(6), .plain-right li:nth-child(11) {
    border-top: 1px solid #ffac13;
}

.plain-right li:nth-child(2), .plain-right li:nth-child(7), .plain-right li:nth-child(12) {
    border-top: 1px solid #83c44e;
}

.plain-right li:nth-child(3), .plain-right li:nth-child(8), .plain-right li:nth-child(13) {
    border-top: 1px solid #2196f3;
}

.plain-right li:nth-child(4), .plain-right li:nth-child(9), .plain-right li:nth-child(14) {
    border-top: 1px solid #e53935;
}

.plain-right li:nth-child(5), .plain-right li:nth-child(10), .plain-right li:nth-child(15) {
    border-top: 1px solid #00c0a5;
}

/*小米秒杀结束*/

/*广告开始*/
.adv {
    height: 120px;
    margin: 22px 0;
    overflow: hidden;
}

.adv img {
    width: 1226px;
    height: 120px;
}

/*广告结束*/

/*手机开始*/
.phone-brick-box {
    height: 686px;
    position: relative;
    margin-bottom: 8px;
}

.more {
    position: absolute;
    top: 0;
    right: 0;
}

.more > a {
    color: #424242;
    line-height: 58px;
    transition: all .4s;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 50%;
    background-color: #b0b0b0;
    margin-left: 6px;
    transition: all .4s;
    vertical-align: 1px;
}

.arrow > span {
    display: inline-block;
    width: 0;
    height: 0;
    margin: -4px 0 0 -12px;
    font-size: 14px;
    color: #fff;
}

.more:hover > a {
    color: #008cff;
}

.more:hover .arrow {
    color: #008cff;
    background-color: #008cff;
    border-color: #008cff;
}

.phone {
    width: 1226px;
    height: 628px;
}

.phone > div {
    float: left;
}

.phone-left {
    background-color: #fff;
    width: 234px;
    height: 614px;
    transition: all .4s;
}

.phone-left img {
    width: 100%;
    height: 100%;
}

.phone-left:hover, .phone-right li:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .10);
    transform: translate(0, -2px);
}

.phone-right {
    width: 992px;
    height: 614px;
}

.phone-right li {
    width: 234px;
    margin-bottom: 14px;
    margin-left: 14px;
    height: 260px;
    padding: 20px 0;
    float: left;
    background-color: #fff;
    transition: all .4s;
}

.phone-right a {
    display: block;
}

.phone-brick-box .name {
    margin: 0 20px 3px;
}

.phone-brick-box .price {
    margin: 0 10px 10px;
}

/*手机结束*/

/*家电、智能、搭配、配件、周边开始*/
.home-brick-box {
    width: 1226px;
    height: 686px;
    position: relative;
    margin-bottom: 8px;
}

.more ul {
    padding: 16px 0 0;
}

.more li {
    float: left;
    margin-left: 30px;
    color: #333;
    transition: border .3s;
    cursor: pointer;
}

.more .hot-active {
    color: #008cff;
}

.more li:hover {
    color: #008cff;
    border-bottom: 2px solid #008cff;
}

.home-brick {
    width: 1226px;
    height: 686px;
}

.home-brick-left {
    width: 234px;
    float: left;
}

.home-brick-left div {
    width: 234px;
    height: 300px;
    background-color: #fff;
    margin-bottom: 14px;
    transition: all .4s;
}

.home-brick-left img {
    width: 234px;
    height: 300px;
}

.home-brick-left div:hover, .home-brick-right div:hover:not(.more1) {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .10);
    transform: translateY(-2px);
}

.home-brick-right li:hover:not(.last-item) {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .10);
    transform: translateY(-2px);
}

.home-brick-right {
    width: 992px;
    height: 614px;
    float: left;
}

.home-brick-right li {
    background-color: #fff;
    width: 234px;
    height: 300px;
    margin-bottom: 14px;
    margin-left: 14px;
    float: left;
    padding: 20px 0;
    box-sizing: border-box;
    transition: all .4s;
}

.home-brick-right a {
    display: block;
}

.home-brick-right li:last-child {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.home-brick-box .name {
    margin: 0 20px 2px;
}

.home-brick-box .desc {
    margin: 0 10px 10px;
}

.last-item > div {
    width: 234px;
    height: 93px;
    padding-top: 50px;
    margin-bottom: 14px;
    margin-left: 14px;
    background-color: #fff;
    position: relative;
    text-align: left;
    transition: all .4s;
}

.last-item img, .last-item div:last-child > span {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 32px;
}

.last-item .name {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-overflow: initial;
    overflow: initial;
    white-space: initial;
    line-height: 20px;
}

.last-item .price {
    margin: 10px 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}

.last-item div:last-child span {
    font-size: 52px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #008cff;
    position: absolute;
    top: 48px;
    right: 35px;
}

.more1 {
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}

.more1 small {
    display: block;
    font-size: 12px;
    color: #757575;
}

.more1 > a {
    color: #333;
}

/*家电、智能、搭配、配件、周边结束*/

/*视频开始*/
.video-box {
    width: 1226px;
    height: 357px;
    position: relative;
}

.video {
    width: 100%;
    height: 299px;
}

.video li {
    width: 296px;
    height: 285px;
    margin-bottom: 14px;
    background-color: #fff;
    margin-left: 14px;
    float: left;
    position: relative;
    transition: all .2s linear;
}

.video img {
    width: 296px;
    height: 180px;
    margin-bottom: 28px;
}

.video .name {
    margin: 0 14px 6px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video .desc {
    height: 18px;
    margin: 0 14px;
    font-size: 12px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video li:first-child {
    margin: 0;
}

.video li:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .10);
    transform: translate(0, -2px);
}

.btn {
    background-color: #000;
    width: 32px;
    height: 19px;
    border: 2px solid #fff;
    border-radius: 12px;
    transition: all .2s;
    position: absolute;
    top: 145px;
    left: 20px;
}

.btn > div {
    width: 0;
    height: 0;
    border-left: 9px solid #fff;
    border-bottom: 6px solid transparent;
    border-top: 5px solid transparent;
    margin: 4px auto;
}

.video-img:hover > .btn {
    background-color: #008cff;
    border-color: #008cff;
}

/*视频结束*/