<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>手机详细管理</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/manage/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="pDetailId" th:value="${obj?.pDetailId}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-block" th:if="${obj?.productCore == null}">
                            <select name="productCore" id="productCore" lay-verify="required">
                                <option >请选择</option>
                                <div th:each="product : ${products}">
                                    <option th:text="${product.productName}" th:value="${product.productCore}"></option>
                                </div>
                            </select>
                        </div>
                        <div class="layui-input-block" th:if="${obj?.productCore != null}">
                            <select name="productCore" id="productCore" lay-verify="required">
                                <option>请选择</option>
                                <div th:each="product : ${products}">
                                    <option selected th:if="${product.productCore} == ${obj?.productCore}" th:text="${product.productName}" th:value="${product.productCore}"></option>
                                    <option th:if="${product.productCore} != ${obj?.productCore}" th:text="${product.productName}" th:value="${product.productCore}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">高度</label>
                        <div class="layui-input-block">
                            <input type="text" name="pHeight" th:value="${obj?.pHeight}" placeholder="请输入高度" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">宽度</label>
                        <div class="layui-input-block">
                            <input type="text" name="pWidth" th:value="${obj?.pWidth}" placeholder="请输入宽度" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">尺寸</label>
                        <div class="layui-input-block">
                            <input type="text" name="pSize" th:value="${obj?.pSize}" placeholder="请输入尺寸" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">重量</label>
                        <div class="layui-input-block">
                            <input type="text" name="pWeight" th:value="${obj?.pWeight}" placeholder="请输入重量" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">机身颜色</label>
                        <div class="layui-input-block">
                            <input type="text" name="pColor" th:value="${obj?.pColor}" placeholder="请输入机身颜色,多个以&隔开" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">套餐类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="pMeal" th:value="${obj?.pMeal}" placeholder="请输入套餐类型" autocomplete="off" class="layui-input">
                        </div>
                    </div> <div class="layui-form-item">
                        <label class="layui-form-label">版本</label>
                        <div class="layui-input-block">
                            <input type="text" name="pVersion" th:value="${obj?.pVersion}" placeholder="请输入版本" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内存容量</label>
                        <div class="layui-input-block">
                            <input type="text" name="pCapacity" th:value="${obj?.pCapacity}" placeholder="请输入内存容量" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="lay-front-submit" id="lay-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:src="@{/static/js/manage/product/phoneDetail.js}"></script>
</body>
</html>
















