<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品分类管理</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="categoryId" th:value="${obj?.categoryId}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">分类名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="categoryName" th:value="${obj?.categoryName}" lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">分类编码</label>
                        <div class="layui-input-block">
                            <input type="text" name="categoryCode" th:value="${obj?.categoryCode}" placeholder="请输入分类编码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">父分类ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="parentId" th:value="${obj?.parentId}" placeholder="请输入父分类ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">分类层级</label>
                        <div class="layui-input-block">
                            <input type="text" name="categoryLevel" th:value="${obj?.categoryLevel}" placeholder="请输入分类层级" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">分类状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="categoryStatus" th:value="${obj?.categoryStatus}" placeholder="请输入分类状态" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="lay-front-submit" id="lay-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:src="@{/static/js/manage/product/productCategory.js}"></script>
</body>
</html>
















