<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品评论管理</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="commentId" th:value="${obj?.commentId}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="productId" th:value="${obj?.productId}" lay-verify="required" placeholder="请输入商品ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">订单ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="orderId" th:value="${obj?.orderId}" lay-verify="required" placeholder="请输入订单ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="userId" th:value="${obj?.userId}" lay-verify="required" placeholder="请输入用户ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">评论标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" th:value="${obj?.title}" lay-verify="required" placeholder="请输入评论标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">评论内容</label>
                        <div class="layui-input-block">
                            <input type="text" name="content" th:value="${obj?.content}" lay-verify="required" placeholder="请输入评论内容" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">审核状态(0未审核,1已审核)</label>
                        <div class="layui-input-block">
                            <input type="text" name="auditStatus" th:value="${obj?.auditStatus}" lay-verify="required" placeholder="请输入审核状态" autocomplete="off" class="layui-input">
                        </div>
                    </div> <div class="layui-form-item">
                        <label class="layui-form-label">上下架状态(0下架,1上架)</label>
                        <div class="layui-input-block">
                            <input type="text" name="publishStatus" th:value="${obj?.publishStatus}" lay-verify="required" placeholder="请输入上下架状态" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="lay-front-submit" id="lay-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:src="@{/static/js/manage/product/productComment.js}"></script>
</body>
</html>
















