<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.mapper.manage.order.MOrderReturnMapper">

    <select id="queryOrderReturnByUsername" resultType="com.eight.bean.OrderReturn">
    </select>
    <select id="queryOrderReturnList" resultType="com.eight.bean.OrderReturn">
        select * from order_return
    </select>

    <insert id="addOrderReturn" parameterType="com.eight.bean.OrderReturn">
        insert into order_return(order_id, return_type, return_reason, return_price, return_desc, return_state)
        values (#{orderId},#{returnType},#{returnReason},#{returnPrice},#{returnDesc},#{returnState})
    </insert>

    <delete id="deleteOrderReturn" parameterType="com.eight.bean.OrderReturn">
        delete from order_return where return_id = #{returnId}
    </delete>

    <update id="modifyOrderReturn" parameterType="com.eight.bean.OrderReturn">
        update order_return set order_id=#{orderId}, return_type=#{returnType},
            return_reason=#{returnReason}, return_price=#{returnPrice}, return_desc=#{returnDesc}, return_state=#{returnState}
        where return_id = #{returnId}
    </update>

    <select id="queryOrderReturnPage" resultMap="queryOrderDetail">
        select * from order_return ore,order_detail od
        <where>
            ore.order_id = od.order_id
            <if test="param != null">
                and order_id like "%"#{param}"%"
            </if>
        </where>
        limit #{orderReturnPage.startIndex},#{orderReturnPage.singlePageSize}
    </select>

    <select id="queryOrderReturnCount" resultType="java.lang.Integer">
        select count(*) from order_return
    </select>
    <select id="queryOrderReturnById" resultType="com.eight.bean.OrderReturn">
        select * from order_return where return_id = #{returnId}
    </select>

    <resultMap id="queryOrderDetail" type="com.eight.bean.OrderReturn" autoMapping="true">
        <id property="returnId" column="return_id"/>
        <association property="orderDetail" javaType="com.eight.bean.OrderDetail" autoMapping="true">
            <id property="orderDetailId" column="order_detail_id"/>
        </association>
    </resultMap>
</mapper>