<!DOCTYPE html>
 
<html lang="en" xmlns:th="http://www.thymeleaf.org" >




	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>韦彩玉-我的商城</title>
<!--        <link href="/css/reset.css" rel="stylesheet" type="text/css">-->
        <link href="/css/WcyInfo.css" rel="stylesheet" type="text/css">

	</head>

	<body>
		<div class="container">
			<div class="header">
                <h1>账号管理</h1>
            </div>
                <!--左侧边栏-->
                <aside class="sidebar">
                    <!--头像以及用户等级-->
                    <div class="avatar">
                        <img src="/img/me.png"/><br>
                        <label style="font-size: 20px">>等级及积分></label>
                        <input type="text" id="level"  th:value="${userInfo.userLevel}">
                    </div>

                    <nav class="nav">
                        <li class="selected">个人资料</li>
                        <li>收货地址</li>
                    </nav>
                </aside>

           <!--个人资料-->
            <main>
                <div class="content">
                    <div class="list">
                        <h2 class="title1">个人资料</h2>
                        <div class="infodetail">

                            <!--左侧部分信息-->
                            <div class="infodetail_l">
                                <div class="ID">
                                    <label for="user_info_id" class="userId_label_l">信息ID：</label>
                                    <input type="text" id="user_info_id" class="userId_inp_l" th:value="${userInfo.userInfoId}"><br>
                                </div>

                                <label for="user_name" class="userId_label_l">昵  称：</label>
                                <input type="text" id="user_name" class="userId_inp_l" th:value="${userInfo.userName}"><br>

                                <label for="identity_card_type" class="userId_label_l">证件类型：</label>
                                <input type="text" id="identity_card_type" class="userId_inp_l" th:value="${userInfo.identityCardType}"><br>

                                <label for="user_sex" class="userId_label_l">性  别：</label>
                                <input type="text" id="user_sex" class="userId_inp_l" th:value="${userInfo.userSex}"><br>

                                <label for="email" class="userId_label_l">邮  箱：</label>
                                <input type="text" id="email" class="userId_inp_l" th:value="${userInfo.email}"><br>

                                <label for="birthday" class="userId_label_l">生  日：</label>
                                <input type="text" id="birthday" class="userId_inp_l" th:value="${userInfo.birthday}"><br>

                                <label for="modified_time" class="userId_label_l">修改时间：</label>
                                <input type="text" id="modified_time" class="userId_inp_l" th:value="${userInfo.modifiedTime}"><br>
                            </div>

                            <!--右侧部分信息-->
                            <div class="infodetail_r">


                                <div class="ID">
                                    <label for="user_id" class="userId_label_r">用户ID：</label>
                                    <input type="text" id="user_id" class="userId_inp_r" th:value="${userInfo.userId}"><br>
                                </div>

                                <label for="real_name" class="userId_label_r">真实姓名：</label>
                                <input type="text" id="real_name" class="userId_inp_r" th:value="${userInfo.realName}"><br>

                                <label for="identity_card_no" class="userId_label_r">证件号码：</label>
                                <input type="text" id="identity_card_no" class="userId_inp_r" th:value="${userInfo.identityCardNo}"><br>

                                <label for="mobile_phone" class="userId_label_r">手机号码：</label>
                                <input type="text" id="mobile_phone" class="userId_inp_r" th:value="${userInfo.mobilePhone}"><br>

                                <label for="register_time" class="userId_label_r">注册时间：</label>
                                <input type="text" id="register_time" class="userId_inp_r" th:value="${userInfo.registerTime}"><br>

                                <label for="user_money" class="userId_label_r">用户余额：</label>
                                <input type="text" id="user_money" class="userId_inp_r" th:value="${userInfo.userMoney}"><br>

                                <label for="user_level" class="userId_label_r">用户等级：</label>
                                <input type="text" id="user_level" class="userId_inp_r" th:value="${userInfo.userLevel}">

                            </div>
                            <button class="btn1 edit">编辑</button>
                        </div>
                    </div>

                    <!--收货地址-->
                    <div class="list">
                        <h2 class="title2">请填写收货地址</h2>
                        <div class="addressdetail">
                            <!--收货人-->
                            <label for="name" class="address_lable">收货人：<input type="text" id="name" class="address_box1"></label><br>

                            <!--收货电话-->
                            <label for="phone" class="address_lable">电 话 ：<input type="text" id="phone" class="address_box1"></label><br>

                            <!--省份选择-->
                            <label  class="address_lable">省 份 ：</label>
                            <select id="prov" onchange="showCity(this)" class="address_select">
                                <option>=请选择省份=</option></select><br>

                            <!--城市选择-->
                            <label class="address_lable">城 市 ：</label>
                            <select id="city" onchange="showCountry(this)" class="address_select">
                                <option>=请选择城市=</option></select><br>

                            <!--县区选择-->
                            <label  class="address_lable">县 区 ：</label>
                            <select id="country" onchange="selecCountry(this) " class="address_select">
                                <option>=请选择县区=</option></select><br>

                            <!--邮编填写-->
                            <label for="zip" class="address_lable">邮 编 ：</label>
                            <input type="text" id="zip" class="address_box1" style="position: relative;left: -26px"><br>

                            <!--详细地址-->
                            <label for="address"style="font-size: 15px;font-weight: lighter;">祥址：</label>
                            <input type="text" value="" id="address" class="address_box"><br>

                            <!--确定按钮-->
                            <button type="button" class="btn2 met2" onClick="showAddr()" id="button-show" >确定</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!--先导入jQuery，再导入js文件，顺序有要求-->
        <script src="/js/jquery-1.7.2.js"></script>
        <script src="/js/WcyInfo.js"></script>
        <script src="/static/js/WcyUpdateInfo.js"></script>
        <script src="/static/js/WcyCity.js"></script>
        <script src="/static/js/WcyCityMethod.js"></script>


	</body>
</html>