<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
    <title>审核中。。。</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
</head>
<body>
<div class="wrapper">
    <div>
        <img class="tu" src="/images/else/sucess.gif" alt="">
    </div>
    <div class="zi">
        <h1>
            审核中，请耐心等待
        </h1>
    </div>
    <div class="button">
        <a href="orderDetail"><input  class="b" type="button" value="返回首页"></a>
    </div>
</div>
</body>
</html>
