<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<form action="/orderDetail/returnDeleteOrder" method="get">&ndash;&gt;-->
<!--    <div th:each="deleteOrder,deleteStat : ${deleteOrders}">-->

<!--        <span th:text="${deleteOrder.order_id}"></span>-->
<!--&lt;!&ndash;        <input type="text" th:value="${deldeteOrer.orderId}" name="order_id">&ndash;&gt;-->


<!--&lt;!&ndash;        <input type="text" th:value="${deleteOrder.returnType}" name="return_type">&ndash;&gt;-->


<!--&lt;!&ndash;        <input type="text" th:value="${deleteOrder.returnReason}" name="return_reason">&ndash;&gt;-->


<!--&lt;!&ndash;        <input type="text" th:value="${deleteOrder.returnPrice}" name="return_price">&ndash;&gt;-->


<!--&lt;!&ndash;        <input type="text" th:value="${deleteOrder.returnDesc}" name="return_desc">&ndash;&gt;-->


<!--&lt;!&ndash;        <input type="text" th:value="${deleteOrder.returnState}" name="return_state">&ndash;&gt;-->

<!--    </div>-->
<!--    <input type="button" value="保存">-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
</head>
<body>
<h3>修改状态</h3>
<form action="/orderDetail/returnDeleteOrder" method="get">
<table>
    <td>
        <label>状态：</label>
    </td>
    <td>
        <label>
            <input type="text" th:value="${modifyDeleteOrders.orderId}" name="orderId">
        </label>
    </td>
    <td>
        <label>
            <input type="text" th:value="${modifyDeleteOrders.returnState}" name="returnState">
        </label>
    </td>
    <td>
        <input type="submit" value="提交">
    </td>
</table>
</form>
</body>
</html>