<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Thymeleaf demo</title>
</head>
<body>
<table border="1">
    <tr>
        <th>商品ID</th>
        <th>商品编码</th>
        <th>商品名称</th>
        <th>一级分类ID</th>
        <th>二级分类ID</th>
        <th>商品原价</th>
        <th>商品销售价格</th>
        <th>上下架状态</th>
        <th>生产日期</th>
        <th>商品有效期</th>
        <th>商品描述</th>
        <th>商品录入时间</th>
        <th>最后修改时间</th>
    </tr>
    <tr th:each="productInfo,productStat : ${productInfos}">
        <td th:text="${productInfo.productId}"></td>
        <td th:text="${productInfo.productCore}"></td>
        <td th:text="${productInfo.productName}"></td>
        <td th:text="${productInfo.oneCategoryId}"></td>
        <td th:text="${productInfo.twoCategoryId}"></td>
        <td th:text="${productInfo.realPrice}"></td>
        <td th:text="${productInfo.price}"></td>
        <td th:text="${productInfo.publishStatus}"></td>
        <td th:text="${productInfo.productionDate}"></td>
        <td th:text="${productInfo.shelfLife}"></td>
        <td th:text="${productInfo.descript}"></td>
        <td th:text="${productInfo.indate}"></td>
        <td th:text="${productInfo.modifiedTime}"></td>
    </tr>
</table>
</body>
</html>