<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>申请中。。。</title>
    <style>
        .suc{
            width: 600px;
            height: 300px;
            border-radius: 150px;
        }
        .tu{
            width: 650px;
            height: 250px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="tu">
    <img class="suc" src="/images/else/loading.gif" alt="">
</div>
</body>
<script type = "text/javascript" src = "/javascript/loading.js"></script>
</html>