<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
    <title>审核中。。。</title>
    <link rel="stylesheet" type="text/css" href="/static/css/order/loading.css"/>
</head>
<body>
<div class="wrapper">
    <div>
        <img class="tu" src="/static/images/else/sucess.gif" alt="">
    </div>
    <div class="zi">
        <h1>
            商家正在努力帮您审核中，请您耐心等待
        </h1>
    </div>
    <div class="button">
        <a href="http://localhost:8080/eight/index"><input class="b" type="button" value="返回首页"></a>
    </div>
</div>
</body>
</html>
