<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户积分日志管理</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/manage/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="pointId" th:value="${obj?.pointId}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">积分日志ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="pointId" th:value="${obj?.pointId}" lay-verify="required" placeholder="请输入积分日志ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="userId" th:value="${obj?.userId}" lay-verify="required" placeholder="请输入用户ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">积分来源(0订单，1登陆，2活动)</label>
                        <div class="layui-input-block">
                            <input type="text" name="source" th:value="${obj?.source}" lay-verify="required" placeholder="请输入积分来源" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">积分来源相关编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="referNumber" th:value="${obj?.referNumber}" lay-verify="required" placeholder="请输入积分来源相关编号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">变更积分数</label>
                        <div class="layui-input-block">
                            <input type="text" name="changePoint" th:value="${obj?.changePoint}" lay-verify="required" placeholder="请输入变更积分数" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">积分日志生成时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="createTime" th:value="${obj?.createTime}" lay-verify="required" placeholder="请输入用积分日志生成时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="lay-front-submit" id="lay-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:src="@{/static/js/manage/log/userPointLog.js}"></script>
</body>
</html>
















