<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.mapper.ProductMapper">

    <resultMap id="queryProductInfo" type="com.eight.bean.ProductInfo" autoMapping="true">
        <id property="productId" column="product_id"/>
        <association property="productPicInfo" javaType="com.eight.bean.ProductPicInfo" autoMapping="true">
            <id property="productPicId" column="product_pic_id"/>
        </association>
        <association property="productWarehouse" javaType="com.eight.bean.ProductWarehouse" autoMapping="true">
            <id property="pwId" column="pw_id"/>
        </association>
    </resultMap>

    <select id="queryAllProductInfo" resultMap="queryProductInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw, product_pic_info ppi, product_info pi
        where ppi.product_id = pi.product_id and pw.product_id = pi.product_id;
    </select>

    <select id="queryProductInfosByName" resultMap="queryProductInfo">

    </select>

    <select id="queryProductInfoByName" resultMap="queryProductInfo">

    </select>
    <select id="queryProductInfoByoneCategory" parameterType="java.lang.String" resultMap="queryProductInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw, product_pic_info ppi,product_category pc,product_info pi
        where ppi.product_id = pi.product_id and
        pc.category_id = pi.one_category_id and
        pw.product_id = pi.product_id and
        pc.category_id = #{catrgoryId}
    </select>
    <select id="queryProductInfoBytwoCategory" parameterType="java.lang.String" resultMap="queryProductInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw, product_pic_info ppi,product_category pc,product_info pi
        where ppi.product_id = pi.product_id and
        pc.category_id = pi.two_category_id and
        pw.product_id = pi.product_id and
        pc.category_id = #{catrgoryId}
    </select>
    <select id="queryProductInfoBycode" resultMap="queryProductInfo">
        select pi.*,ppi.*,pw.* from product_warehouse pw,product_pic_info ppi,product_info pi
        where ppi.product_id = pi.product_id and
        pw.product_id = pi.product_id and
        pi.product_core = #{productCode}
    </select>


    <select id="viewProduct" resultMap="productInfoMap">
		SELECT * FROM product_info
	</select>

    <resultMap id="productInfoMap" type="com.eight.bean.ProductInfo">
        <id property="productId" column="product_id"></id>
        <result property="productCore" column="product_core"></result>
        <result property="productName" column="product_name"></result>
        <result property="oneCategoryId" column="one_category_id"></result>
        <result property="twoCategoryId" column="two_category_id"></result>
        <result property="realPrice" column="real_price"></result>
        <result property="price" column="price"></result>
        <result property="publishStatus" column="publish_status"></result>
        <result property="productionDate" column="production_pate"></result>
        <result property="shelfLife" column="shelf_life"></result>
        <result property="descript" column="descript"></result>
        <result property="indate" column="indate"></result>
        <result property="modifiedTime" column="modified_time"></result>
    </resultMap>

    <resultMap id="PicInfoMap" type="com.eight.bean.ProductPicInfo">
        <id property="productPicId" column="product_pic_id"></id>
        <result property="productId" column="product_id"></result>
        <result property="picUrl" column="pic_url"></result>
    </resultMap>


    <!--    动态-->
    <select id="getPicById" resultMap="PicInfoMap" parameterType="string">
		SELECT pic_url FROM product_pic_info where product_id=#{productId}
	</select>
    <!--动态-->
    <select id="getProductById" resultMap="productInfoMap" parameterType="string">
		SELECT * FROM product_info where product_id=#{productId}
	</select>

</mapper>