<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eight.mapper.WcyUserMapper">

    <select id="info" parameterType="string" resultType="com.eight.bean.UserInfo">
        select * from userInfo where user_id=#{userId}
    </select>

<!--获取更新页面数据-->
    <select id="updateInfo" parameterType="com.eight.bean.UpdateInfo" resultType="com.eight.bean.UpdateInfo">
        select userInfoId,userId,username,realName,identityCardType,identityCardNo,userSex,mobilePhone,email from userInfo where userInfoId=#{userInfoId}
    </select>


<!--更新数据-->
    <select id="update" parameterType="com.eight.bean.UpdateInfo">
        update userInfoId set username=#{username},realName=#{realName},identityCardType=#{identityCardType},
         identityCardNo=#{identityCardNo},userSex=#{userSex},mobilePhone=#{mobilePhone},email=#{email}
         where userInfoId=#{userInfoId}
    </select>

<!--点击返回按钮返回个人资料页面-->
    <select id="returnPage"  parameterType="string" resultType="com.eight.bean.UserInfo">
        select * from userInfo where userInfoId=#{userInfoId}
    </select>


</mapper>

